<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SzallashelyekDB"
			 connectionString="Server=127.0.0.1;Port=3306;Database=Szallashelyek;Uid=root;Pwd=Str0ng!Passw0rd;Charset=utf8mb4;SslMode=Preferred;ConnectionTimeout=30;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>